body {
    margin: 0; padding: 0;
    font-family: Poppins, sans-serif;
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.score-box {
    position: absolute;
    left: 20px;
    top: 20px;
}

.work {
    color: red;
}

.general {
    color: blue;
}

.hobby {
    border: 1px solid green;
}